///
/// `Z-Index`
/// `Utilities for controlling the stack order of an element.`
///

$zIndex: (
	auto: auto,
	0: 0,
	1: 10,
	20: 20,
	30: 30,
	40: 40,
	50: 50,
);
$zIndexNeg: (
	1: -10,
	20: -20,
	30: -30,
	40: -40,
	50: -50,
);

@include grisso_complex_class("z-", z-index, $zIndex);
@include grisso_complex_class("-z-", z-index, $zIndexNeg);
