@use "../../mixins" as *;
///
/// `Divide Width`
/// `Utilities for controlling the border width between elements.`

@each $key, $value in $border-width {
	.divide-x-#{$key} > * + * {
		border-right-width: $value;
		border-left-width: $value;
	}

	.divide-y-#{$key} > * + * {
		border-top-width: $value;
		border-bottom-width: $value;
	}

	@each $mq, $_ in $breakpoints {
		@include media-query($mq) {
			.#{$mq}-divide-x-#{$key} > * + * {
				border-right-width: $value;
				border-left-width: $value;
			}
			.#{$mq}-divide-y-#{$key} > * + * {
				border-top-width: $value;
				border-bottom-width: $value;
			}
		}
	}
}

.divide-x > * + * {
	border-right-width: 0;
	border-left-width: 1px;
}

.divide-y > * + * {
	border-top-width: 1px;
	border-bottom-width: 0;
}

@each $mq, $_ in $breakpoints {
	@include media-query($mq) {
		.#{$mq}-divide-x > * + * {
			border-right-width: 0;
			border-left-width: 1px;
		}
		.#{$mq}-divide-y > * + * {
			border-top-width: 1px;
			border-bottom-width: 0;
		}
	}
}
