///
/// `Outline Style`
/// `Utilities for controlling the style of an element's outline.`
$outline-style: (
	"outline": solid,
	"outline-dashed": dashed,
	"outline-dotted": dotted,
	"outline-double": double,
);
@include grisso_complex_class("", outline-style, $outline-style);

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

@each $mq, $_ in $breakpoints {
	@include media-query($mq) {
		.#{$mq}-outline-none {
			outline: 2px solid transparent;
			outline-offset: 2px;
		}
	}
}
