@use "sass:map";
@use "../../mixins" as *;
///
/// `Box Shadow`
/// `Utilities for controlling the box shadow of an element.`
$extended-shadows: map.merge(
	$shadows,
	(
		inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05),
		none: 0 0 #0000,
	)
);
@include grisso_complex_class("shadow-", box-shadow, $extended-shadows);
