@use "sass:map";
@use "../../mixins" as *;
///
/// `Line Height`
/// `Utilities for controlling the leading (line height) of an element`
$line-height: map.remove($spacing, "auto", "zero");
$extended-line-height: map.merge(
	$line-height,
	(
		none: 1,
		tight: 1.25,
		snug: 1.3755,
		normal: 1.5,
		relaxed: 1.625,
		loose: 2,
	)
);

@include grisso_complex_class("leading-", line-height, $extended-line-height);
