@use "../../mixins" as *;
///
/// `Text Overflow`
/// `Utilities for controlling text overflow in an element`
$text-overflow: (
	"ellipsis": ellipsis,
	"clip": clip,
);
@include grisso_complex_class("text-", text-overflow, $text-overflow);
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@each $mq, $_ in $breakpoints {
	@include media-query($mq) {
		.#{$mq}-truncate {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
