@use "../../mixins" as *;
///
/// `Height, Min-Height and Max-Height`
/// `Utilities for setting the minimum height of an element`
///

$height: (
	auto: auto,
	0: 0,
	full: 100%,
	screen: 100vh,
	min: min-content,
	max: max-content,
	fit: fit-content,
);

@include grisso_complex_class("h-", height, $height);
@for $i from 1 through $columns {
	@include grisso_simple_class("h-#{$i}", (height, calc($i / $columns * 100%)));
}
@include grisso_complex_class("min-h-", min-height, $height);
@include grisso_complex_class("max-h-", max-height, $height);
